.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 25px;
    font-family: Perpetua;
    font-weight: 400;
    color: white;

}

.bodyimg{
    font-family: 'Times New Roman', Times, serif    ;
    
}


body{
    margin: 0px;
    background-color: whitesmoke;
}

.grid img{
    border: 2px solid black;
    border-radius: 50px;

}
.origami{

    border-radius: 20px;
    background-color: white;
    padding: 30px;
    margin: 25px;

    width: 310px;
    font-family: 'Constantia';
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

.grid{
    display: flex;
    flex-wrap: wrap;
}



.origami:hover{

    transform: scale(1.2);
}
